/* root */

:root {
    --backgroundColor: rgb(31, 30, 30);
    --fontColor: rgb(215, 215, 215);
    --fontSize: 1.5rem;
    
    


}

/* generall type and psudo selectors */

body * {
    color: var(--fontColor);
    font-size: var(--fontSize);
}

body {
    background-color: var(--backgroundColor);
}

header {
    background-image: url("images/1258622.jpg");
    height: 30rem;
}

h4 {
    font-size: 2rem;
    opacity: 50%; 

}

article p {
    text-align: justify;
    line-height: 2rem;
}


input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px transparent rgb(203, 202, 202);
    color: black;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
    
   
}

input:focus {
    outline: none;
    color: var(--fontColor);
}

select {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgb(203, 202, 202);
    color: black;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
}

textarea {
    border-top: none;
    border-right: none;
    border-left: none;
    border: 1px solid rgb(203, 202, 202);
    border-radius: 10px;
    color: black;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
}

textarea:focus {
    outline: none;
    color: var(--fontColor);
}

a {
    text-decoration: none;
}


article h4 {
    padding-bottom: 1rem;
}

label {
    padding: 1rem;
}

button {
    margin-top: 1rem;
    padding: 1rem 2rem;

    background: rgb(75, 4, 66);
    background: linear-gradient(90deg, rgba(75, 4, 66, 1) 0%, rgba(110, 9, 121, 1) 48%, rgba(139, 23, 138, 1) 72%, rgba(213, 18, 199, 1) 88%, rgba(163, 14, 176, 1) 100%);

}

button:hover {
    opacity: 50%;
}


/* generella klasser */

.borderTop {
    border-top: 1px solid rgb(203, 202, 202);
}

.paddingTop {
    padding-top: 2rem;
}

.borderBottom {
    border-bottom: 1px solid rgb(203, 202, 202);
}



/* Index.html */

/* Nav */

.navContainer {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-top: 2rem;

}

ul li a:hover {
    opacity: 50%;
    text-decoration: underline;
}

.heroName {
    display: flex;
    align-items: flex-end;
    
}



.authorTag {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 20%;
    font-style: italic;
}




nav {
    font-weight: 800;
    
}

.navContainer a {
    font-size: 2rem;
    text-shadow: 3px 3px 3px #aaa;
}

.active {
    opacity: 50%;
    text-decoration: underline;
    text-shadow: none;
}

.heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
    line-height: 2rem;
}


@media screen and (max-width: 1268px) {

 

    .navContainer {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      align-items: center;
  
    }
  


    header {
        display: block;
    }

    p {
        text-align: center;
    }

    h4 {
        text-align: center;
    }

    }
  
    @media screen and (max-width: 770px) {

      
        .authorTag {
            display: none;
            
        }
    
        p {
            text-align: center;
        }

        h4 {
            text-align: center;
        }

        }
    




/* My interests */
.myInterestsChild {
    width: 50rem;
    text-align: center;
    line-height: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.myInterestsContainer {
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 770px) {

      
    .myInterestsContainer {
        display: flex;
        flex-wrap: wrap;
        
    }

    p {
        padding: 0 1rem;
        
    }

    h4 {
        padding: 1rem;
    }


    }




/* BookSection */

.bookContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bookContainer:nth-child(even) {
 display: flex;
 flex-direction: row-reverse;
}


.bookChild {
    width: 50rem;
    text-align: center;
    line-height: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bookContainer img {
    padding: 7rem;
}

.bookContainer a:hover {
    opacity: 50%;
}

.justify {
    text-align: justify;
    line-height: 2.4rem;
    
}

/* .bookContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bookChild {
    width: 50rem;
    text-align: center;
    line-height: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bookContainer img {
    padding: 7rem;
}

.bookContainer a:hover {
    opacity: 50%;
} */


@media screen and (max-width: 770px) {

      
    .bookContainer {
        display: flex;
        flex-flow: wrap;
       
    }

    .bookContainer p {
        padding: 1rem;
    }
 
    }


    /* Event.html */

    .formContainer h4 {
        padding: 1rem 0;
    }

    

    .formContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;

    }

    .formContainer p {
       
        padding-bottom: 1rem;
    }

    .formContainer input {
        width: 40rem;
    }

    .radioFlex {
       display: flex;
       flex-direction: column;
       align-items: center;

    }

 
    .select {
        margin: 1rem;
    }

    .labelContainer {
        display: flex;
        flex-direction: column;
    }

    .labelButton {
        box-shadow: 3px 3px 3px;
    }

    @media screen and (max-width: 700px) {

        .formContainer input {
            width: auto;
        }

        textarea {
            width: 20rem;
        }

        h4 {
            text-align: center;
        }
    }



    /* Gallery */

    .galleryContainer {
        display: flex;
        flex-direction: row;
        gap: .5rem;
        flex-wrap: wrap;
    }
  .galleryChild {
    display: flex;
    flex-flow: column;
    flex: 25%;
    gap: 1rem;
  }

  .crop {
    height: 41.5rem;
  }


  @media screen and (max-width: 700px) {

    .galleryContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .galleryChild {
        display: flex;
        justify-content: center;
        align-items: center;
    }

 .galleryContainer img {
    object-fit: cover;
    width: 330px;
    height: 330px; 
    border-radius: 20px;

 }

 .crop {
    height: auto;
 }
    
  
    }
  

    
 /* Landscape */


 #landscapeContainer {
    padding: 2rem;

 }

 #landscapeContainer h4, p {
    line-height: 1.5rem;
    padding: 1rem;

 }




 
   tabel, th, td {
    border: 1px solid rgb(163, 8, 163);
   }
  
   td, th {
    padding: 1rem;
   }

   table {
    margin-top: 4rem;
    padding-top: 3rem;
    width: 80%;
    margin:0 auto;
    
   }

    section.tabelContainer {
    margin: 10rem;
   
   } 

   .float {
    float: right;
    text-align: center;
    padding: 1rem;
   }

   .testImg {
    width: 1.5rem;
   }

   .mapContainer {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    
    padding-top: 2rem;
    padding-bottom: 4rem;
   }
    .mapChild {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .mapChild h4 {
       
        padding-bottom: 2rem;
    }

   @media screen and (max-width: 700px) {

    #landscapeContainer h4, p {
         text-align: center;
     }

     .mapContainer {
        display: flex;
        justify-content: center;
        align-items: center;
     }

     iframe {
        width: 90%;
     }

     .float {
        display: none;
     }

     table {
        width: 100%;
     }

     section.tabelContainer {
        margin: 1rem;
       } 
    

   }


 
   
/* git Tutorial */

#gitContainer {
    display: flex;
    justify-content: center;
    padding: 10rem;
    border-bottom: 1px solid rgb(203, 202, 202);
}

#gitContainer li {
    width: 50rem;
    line-height: 2rem;
}

#gitContainer h4 {
    text-align: center;
    padding-bottom: 2rem;
}
 
code {
    border: 1px solid rgb(203, 202, 202);
    padding: .6rem;
}

@media screen and (max-width: 1382px) {

    #gitContainer {
        display: flex;
        padding: 1rem;
        width: 100%;
        padding: 0;
        border-bottom: 1px solid rgb(203, 202, 202);
    }

    #gitContainer li {
        width: auto;
        padding: 1rem;
        line-height: 2rem;
    }

}


/* footer */


footer {
    padding: 10rem;
}

footer svg {
    
    padding: 1rem;

}



footer h3 {
    font-size: 2rem;
}

footer ul li {
    padding-left: 3rem;
}

footer form {
    padding-top: 3rem;
}



footer p {
    margin-bottom: 1rem;
}





.footerContainer {
    display: flex;
    justify-content: space-between;
    

}


.footerSection1Container {
    display: flex;    
}

.footerSection1Heading {
    padding: 2rem;
}


.test2 {
    display: flex;
    align-items: center;
    flex-direction: column;
   
}




.footerSection2Container {
    display: flex;
    gap: 10rem;
}


.footerSection2child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footerSection3Container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.newsletterContainer {
    display: flex;

}


.footerSection3Child {
    display: flex;
    flex-direction: column;
}

.newsletterSvg {
    padding-bottom: 7.3rem;

}

.newsletterRegister {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.footerSection2Container li {
    line-height: 3rem
} 

footer svg:hover {
    opacity: 50%;
}




@media screen and (max-width: 1268px) {

 

  .footerContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;


  }

  .footerSection2Container {
    gap: 2rem;
    padding-right: 2.3rem;
  }

  .footerSection3Container {
    padding-top: 2rem;
    display: flex;
    flex-flow: wrap;
  }

  .newsletterSvg {
    display: none;
  }

 .paddingTop {
    padding: top 3rem;
 }

 .paddingBottom {
    padding-bottom: 3rem;
 }
 .footerSection2child {
    display: flex;
    flex-direction: column;
    gap: 0;
}



  }

  





